/* Login Screen */
<<<<<<< HEAD

html{
    display: inline-block;
}

.login .links, .register .links {
    display: flex;
    padding: 0 15px;
}

body{
    display: flex;
    position: fixed;
    width: 50%;
    height: 100vh;
    left: 0px;
    top: 0px;

    background: #C3E8BD;
    
=======

body, html{

body{

position: relative;
width: 100vw;
height: 100vh;

background: #C3E8BD;


box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

>>>>>>> 4e594480d0d0ba5dd6b94740f64af99bc122b23c
}

/* Rectangle 1 */

div.ret1{
<<<<<<< HEAD
position: absolute;
width: 1000px;
height: 90vh;
left: 500px;
top: 20vh;
=======

position: relative;

position: absolute;

width: 1008px;
height: 731px;
left: calc(50% - 1008px/2);
top: 166px;
>>>>>>> 4e594480d0d0ba5dd6b94740f64af99bc122b23c

background: #EFCAEB;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
border-radius: 16px;
}

/* Rectangle 2 */

div.ret2{
position: absolute;
<<<<<<< HEAD
height: 40%;
left: 670px;
top: 340px;
=======
width: 603px;
height: 404px;

left:50vh;
top:50vh;
>>>>>>> 4e594480d0d0ba5dd6b94740f64af99bc122b23c

left: 630px;
top: 310px;


background: #FDFBFB;
border-radius: 16px;
}

/* Rectangle 8 */

input.ret8{
box-sizing: border-box;

position: absolute;
width: 204px;
height: 50px;
left: 370px;
top: 300px;

font-size: 24px;
font-family: 'Poppins';
font-style: normal;
font-weight: bold;
background: #F2D4EF;
border: 3px solid #000000;
border-radius: 30px;
}

/* Entrar */

h1.entrar{
position: absolute;
width: 76px;
height: 36px;
left: 854px;
top: 650px;

font-family: 'Poppins';
font-style: normal;
font-weight: 700;
font-size: 24px;
line-height: 36px;
/* identical to box height */

color: #000000;
}


/* Rectangle 7 */

div.ret7{
position: absolute;
width: 405px;
height: 41px;
left: 514px;
top: 571px;

background: #D9D9D9;
border-radius: 16px;
}

/* bx:lock-alt */

div.locPos{
position: absolute;
width: 32px;
height: 33px;
left: 471px;
top: 532px;
}


/* Vector */

div.vect1{
position: absolute;
left: 33.08%;
right: 65.44%;
top: 52.22%;
bottom: 45.09%;

background: #645F5F;
}

/* ant-design:user-add-outlined */

div.vectMail{
position: absolute;
width: 31px;
height: 32px;
left: 498.99px;
top: 424.01px;

background: #FFFFFF;
transform: rotate(-0.03deg);
}

/* Vector */

div.vect2{
position: absolute;
left: 33.06%;
right: 65.37%;
top: 41.7%;
bottom: 55.79%;

background: #645F5F;
transform: rotate(-0.03deg);
}

/* WORK-removebg-preview 1 */

div.logo{
position: absolute;
width: 255px;
height: 200px;
left: 994px;
top: 158px;

}

/* Rectangle 3 */

div.ret3{
position: absolute;
width: 429px;
height: 42px;
left: 514px;
top: 418.5px;

background: #FDFBFB;
}

/* Email */
h2.email{
position: absolute;
left: 55px;
top: 100px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 24px;

color: #000000;
}


/* Rectangle 4 */

div.ret4{
position: absolute;
width: 397px;
height: 33px;
left: 514px;
top: 529px;

background: #FDFBFB;
}

/* Senha */

h2.senha{
position: absolute;
left: 51px;
top: 200px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 24px;

color: #000000;
}


/* Rectangle 5 */

div.ret5{
position: absolute;
width: 605px;
height: 94px;
left: 0px;
top: 0px;

background: #D9D9D9;
border-radius: 16px;
}

/* Acesse sua conta */
h1.acess{
position: absolute;
left: 10vw;
top: 0vw;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 48px;
line-height: 58px;

color: #000000;
}


/* Rectangle 6 */
div.ret6{
position: absolute;
width: 405px;
height: 41px;
left: 512px;
top: 462px;

background: #D9D9D9;
border-radius: 16px;
}

input.user{
    position: absolute;
    width: 519px;
    height: 30px;
    left: 50px;
    top: 140px;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    border-radius: 16px;
    /* identical to box height */
}

input.senha {
    position: absolute;
    width: 519px;
    height: 30px;
    left: 50px;
    top: 240px;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    border-radius: 16px;
    /* identical to box height */
}
p.bottom{
    position: absolute;
    width: 40%;
    height: 30px;
<<<<<<< HEAD
    left: 72%;
    top: 70%;
=======

    left: 65vh;
    top: 105vh;
>>>>>>> 4e594480d0d0ba5dd6b94740f64af99bc122b23c

    left: 700px;
    top: 680px;


    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    /* identical to box height */
}

input.btnLog{
    position: absolute;
    width: 519px;
    height: 30px;
    left: 40px;
    top: 250px;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    /* identical to box height */
}
i.addUser {
    position: absolute;
    width: 31px;
    height: 32px;
    left: 13px;
    top: 104px;

}

i.lock {
    position: absolute;
    width: 32px;
    height: 33px;
    left: 10px;
    top: 204px;
}

img.logo {
    position: relative;
    width: 100;
    height: 200px;
    left: 100%;
    top: -35%;
}

div.msg1 {
    width: 600px;
    position: relative;
    left: 200px;
    top: 150px;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    color: #000000;
}

@media screen and (max-width: 1000px) {
    .container{
        -webkit-flex-direction: column;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
    }
    section{
        margin-right: 0;
        margin-left: 0;
        -webkit-flex-basis: auto;
        -moz-flex-basis: auto;
        -ms-flex-preferred-size: auto;
        flex-basis: auto;
    }
    header{
        margin-bottom: 0;
        -webkit-flex-basis: auto;
        -moz-flex-basis: auto;
        -ms-flex-preferred-size: auto;
        flex-basis: auto;
    }
    header img{
        max-height: 100%;
        max-width: 100%;
    }
    .ret2{
        width: 290%;
        left: auto;
        margin-left: 0;
        margin-bottom: 0%;
        padding-left: 0;
    }
    .ret1{
        width: 150%;
        height: 50%;
        position: relative;
        left: 100%;
        margin-left: 0%;
        margin-bottom: 0%;
        padding-left: -100%;
    }
    h1{
        font-size: 500%;
    }
}
